@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This application is used to store a users favourite recipes.</p>
<p>This application is heavily under development so it does not reflect the final product. It is being developed with ASP.NET MVC and Entity Framework.</p>
<hr />
<p>To contact, email conordotsinclair@gmail.com</p>
